<form
    #f="ngForm"
    (ngSubmit)="submit(f)"
>
    <div ngModelGroup="contact">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input
                required
                ngModel
                name="firstName"
                maxlength="10"
                minlength="3"
                pattern="[a-zA-Z]+"
                #firstName="ngModel"
                class="form-control"
                id="firstName"
                type="text"
            >
            <div
                class="alert alert-danger"
                *ngIf="firstName.touched && !firstName.valid"
            >
                <div *ngIf="firstName.hasError('required')">champ obligatoire.</div>
                <div *ngIf="firstName.hasError('minlength')">Minimum doit être au moiscaractères.</div>
                <div *ngIf="firstName.hasError('maxlength')">Maximum doit être 10 caractères.</div>
                <div *ngIf="firstName.hasError('pattern')">
                    Le prénom doit contenir uniquement des lettres alphabétiques.
                </div>
            </div>

        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
                ngModel
                name="lastName"
                #lastName
                class="form-control"
                id="lastName"
                type="text"
            >
        </div>

    </div>

    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea
            ngModel
            name="comment"
            #comment
            class="form-control"
            id="comment"
        ></textarea>
    </div>
    <div class="form-group">
        <label for="ContactMethod">Method contact</label>
        <select
            class="form-control"
            ngModel
            name="ContactMethod"
            id="ContactMethod"
        >
            <option value></option>
            <option
                value
                *ngFor="let method of ContactMethod"
                [ngValue]="method"
            >
                {{method.name}}
            </option>
        </select>

        <div class="radio" *ngFor="let opt of ContactMethod">
            <label for="ContactMethod2">
                <input
                    [value]="opt.id"
                    ngModel
                    type="radio"
                    name="ContactMethod2"
                    id="ContactMethod2"
                >
                {{ opt.name }}
            </label>
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input
                type="checkbox"
                ngModel
                name="subscribe"
            >
            subscribe
        </label>
    </div>
    <div class="form-group">

        <button
            class="btn btn-primary"
            [disabled]="!f.valid"
        >
            Enregister
        </button>
    </div>
</form>
<p>{{ f.value | json }}</p>
