<!-- <app-cours/> -->
<!-- <h1>Dev Learning</h1>

<courses></courses>
<p>{{body | resume}}</p> -->
<!-- <star></star> -->
<app-panel>
    <div class="header">header</div>
    <div class="body">
        <h3>
            this is the content
        </h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam voluptatem distinctio minus maiores assumenda laborum qui tempore odit nostrum repellendus perspiciatis earum quisquam sequi consequuntur quis ipsam, delectus maxime unde.</p>
    </div>
</app-panel>