<!-- <app-cours/> -->
<!-- <h1>Dev Learning</h1>

<courses></courses>
<p>{{body | resume}}</p> -->
<!-- <star></star> -->
<!-- ex panel-->
<!-- <app-panel>
    <div class="header">header</div>
    <div class="body">
        <h3>
            this is the content
        </h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam voluptatem distinctio minus maiores assumenda laborum qui tempore odit nostrum repellendus perspiciatis earum quisquam sequi consequuntur quis ipsam, delectus maxime unde.</p>
    </div>
</app-panel> -->
<!-- exercice ngSwitch -->
<!-- <ul class="nav nav-pills">
    <li class="nav-link active" [class.active]="viewCourse == 'Laravel'">
        <a  (click)="viewCourse='Laravel'">Laravel</a>
    </li>
    <li class="nav-link" [class.active]="viewCourse == 'Angular'">
        <a  (click)="viewCourse='Angular'">Angular</a>
    </li>

    <li class="nav-link" [class.active]="viewCourse == 'Symfony'">
        <a  (click)="viewCourse='Symfony'">Symfony</a>
    </li>
    
</ul>
<div [ngSwitch]="viewCourse">
    <div *ngSwitchCase="'Laravel'">lorem Laravel</div>
    <div *ngSwitchCase="'Angular'">lorem Angular</div>
    <div *ngSwitchCase="'Symfony'">lorem Symfony</div>
    <div *ngSwitchDefault>other value</div>
</div> -->
<!-- ex -->
<!-- <button class="btn btn-primary" (click)="loadCourse()">Load</button>
<button class="btn btn-success" (click)="addCourse()">Ajouter</button>

<ul>
    <li *ngFor="let course of courses; TrackBy:trackCourse">
        {{course.id}} {{course.title}}
        <button class="btn btn-danger" (click)="removeCourse(course)">Delete</button>
    </li>
</ul> -->
<!-- ex forms -->
<br>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <!-- <app-contact-form></app-contact-form> -->
        <!-- <app-reactive-form></app-reactive-form> -->
        <app-post></app-post>
    </div>
</div>

